@using ShainingOpt.ViewModels
@model ProfileViewModel
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
        <section class="main__info info">
            <div class="container info__container">
                <div class="info__company">
                    <h1 class="info__company-name">@Model.CompanyName </h1>
                    <span class="info__company-id">id - @Model.Id</span>
                </div>
                <div class="info__btns">
                    <a href="" class="info__btn btn">Мои заказы</a>
                    <a href="" class="info__btn btn info__btn--red">Выйти</a>
                </div>
            </div>
        </section>
        <section class="main_profile profile">
            <div class="container profile__container">
                <form class="form form__card" action="" method="post" novalidate>
            <div asp-validation-summary="All" class="form__error"></div>
                <h2 class="profile__title title">Данные организации</h2>
                
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="companyName">Название компании</label>
                        <input class=" form__input" id="companyName" asp-for="CompanyName" type="text" placeholder="Введите название компании" value="@Model.CompanyName"  >
                    </div>
                    <div class=" form__field">
                        <label class=" form__label" for="contactPerson">Представительное лицо</label>
                        <input class=" form__input" id="contactPerson" asp-for="ContactPerson" type="text"  placeholder="Введите ФИО"  value="@Model.ContactPerson" >
                    </div>
                </div>
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="email">Email</label>
                        <input class=" form__input" id="email" asp-for="Email" type="email" value="@Model.Email"
                             placeholder="example@mail.ru"  >
                    </div>
                    <div class=" form__field">
                        <label class=" form__label" for="phone">Телефон</label>
                        <input class=" form__input" id="phone" asp-for="Phone" type="tel" value="@Model.Phone"
                             placeholder="+7/8XXXXXXXXXX"  >
                    </div>
                </div>
    
                <div class=" form__row">
                  
                    <div class=" form__field form__field">
                        <label class=" form__label" for="kpp">Кпп</label>
                        <input class=" form__input" id="kpp" asp-for="Kpp" type="text" value="@Model.Kpp"
                       placeholder="Введите 9 цифр"  >
                    </div>
                    <div class=" form__field">
                        <label class=" form__label" for="inn">ИНН</label>
                        <input class=" form__input" id="inn" asp-for="Inn" type="text" value="@Model.Inn"  placeholder="Введите 10 цифр"  >
                    </div>
                </div>
                
                <div class=" form__row">
                    <div class="form__field form__field--fullwidth">
                        <label class=" form__label" for="address">Адрес</label>
                        <input class=" form__input" id="address" asp-for="Address" value="@Model.Address" type="text" placeholder="Введите адрес"  >
                    </div>
                </div>
    
                <button class=" form__card-btn btn" type="submit" name="action" value="companyData">Сохранить данные</button>
            </form>
        </div>
        </section>
        <section class="security">
            <div class="container security__container">
                <form class="form form__card" action="" method="post">
                    <div asp-validation-summary="All" class="form__error"></div>
                <h2 class="security__title title">Безопасность</h2>
                
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="password">Пароль</label>
                        <input class=" form__input" id="password" asp-for="Password" type="password" placeholder="Введите пароль"  >
                    </div>
                   <div class=" form__field">
                        <label class=" form__label" for="newPassword">Новый пароль</label>
                        <input class=" form__input" id="newPassword" asp-for="NewPassword" type="password" placeholder="Введите новый пароль"  >
                    </div>
                </div>
    
                <div class=" form__row">
                    <div class=" form__field">
                        <label class=" form__label" for="confimPassword">Подтверждение</label>
                        <input class=" form__input" id="confimPassword" asp-for="ConfirmPassword" type="password" placeholder="Подтверждение"  >
                    </div>
                </div>
                <button class=" form__card-btn btn" name="action" value="securityData" type="submit">Сохранить данные</button>
                </form>
                </div>
        </section>
