@using ShainingOpt.ViewModels.Catalog
@model CatalogViewModel

@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true" />
<div class="catalog">
    <div class="catalog__container container">
        <section class="filters">
            <form method="get" asp-action="Catalog" asp-controller="Catalog" class="filters__container container">
                <div class="filter__groups" >
                    <div class="filter__group">
                        <div class="filter__title">Категория</div>
                        <ul class="filter__items">
                            @foreach(var item in Model.Categories)
                                {
                                <li class="filter__item"><input name="categories"
                                    @(Model.SelectedCategories.Contains(item.CategoryId) ? "checked" : "")
                                    value="@item.CategoryId" type="checkbox">@item.CategoryName</li>
                                }
                            </ul>
                    </div>
                    <div class="filter__group">
                        <div class="filter__title">Бренд</div>
                        <ul class="filter__items">
                            @foreach (var item in Model.Brands)
                            {
                                <li class="filter__item"><input name="brands" 
                                    @(Model.SelectedBrands.Contains(item.BrandId) ? "checked" : "")
                                    value="@item.BrandId" type="checkbox">@item.BrandName</li>
                            }
                        </ul>
                    </div>
                    <div class="filter__group">
                        <div class="filter__title">Цвет</div>
                        <ul class="filter__items">
                            @foreach (var item in Model.Colors)
                            {
                                <li class="filter__item"><input name="colors" 
                                    @(Model.SelectedColors.Contains(item.ColorId) ? "checked" : "")
                                    value="@item.ColorId" type="checkbox">@item.ColorName</li>
                            }
                        </ul>
                    </div>
                    <div class="filter__group">
                        <div class="filter__title">Размер</div>
                        <ul class="filter__items">
                            @foreach (var item in Model.Sizes)
                            {
                                <li class="filter__item"><input name="sizes"
                                    @(Model.SelectedSizes.Contains(item.SizeId) ? "checked" : "")
                                    value="@item.SizeId" type="checkbox">@item.SizeName</li>
                            }
                        </ul>
                    </div>
                    <div class="filter__group">
                        <div class="filter__title">Цена</div>
                        <ul class="filter__items">
                            <li><input class="filter__price" type="number" name="minPrice" value="@Model.MinPrice"  placeholder="От"></li>
                            <li><input class="filter__price" type="number" name="maxPrice" value="@Model.MaxPrice" placeholder="До"></li>
                        </ul>
                    </div>
                <button class="btn btn--white filters__btn">Применить</button>
                </div>
            </form>
        </section>
        <section class="cards">
            <div class="cards__container container">
                        @if (!Model.Products.Any())
                    {
                        <div class="empty cards__empty">
                            <p class="empty__info">
                                К сожалению по вашему запросу ничего не найдено:(
                            </p>
                        </div>
                    }
                    else
                    {
                        
                <ul class="cards__grid">
                    @foreach (var item in Model.Products)
                    {
                    <li class="card">
                        <a class="card__info" asp-action="Product" asp-controller="Catalog" asp-route-productId="@item.ProductId">
                            <div class="card__img">
                                <img src="@item.MainImageUrl" alt="@item.ProductName" loading="lazy">
                            </div>
                                <div class="card__name">@item.ProductName</div>
                                <div class="card__price">@item.WholesalePrice P</div>
                        </a>
                            <a asp-action="Product" asp-controller="Catalog" asp-route-productId="@item.ProductId" class="card__btn btn">Подробнее</a>
                    </li>
                        
                    }

                </ul>
                    }
            </div>
        </section>
    </div>
    <section class="pagination">
        <ul class="pagination__container container">
            @for (int i = Model.PageStart; i <= Model.PageEnd; i++)
            {
                <li class="pagination__item @(i == Model.CurrentPage ? "pagination__item--active" : "")">

                    <a asp-action="Catalog" asp-controller="Catalog"
                           asp-route-pageNumber="@i"
                           asp-route-categories="@string.Join(",", Model.SelectedCategories)"
                           asp-route-brands="@string.Join(",", Model.SelectedBrands)"
                           asp-route-colors="@string.Join(",", Model.SelectedColors)"
                           asp-route-sizes="@string.Join(",", Model.SelectedSizes)"
                           asp-route-minPrice="@Model.MinPrice"
                           asp-route-maxPrice="@Model.MaxPrice">
                        @i
                       
                    </a>
                </li>
            }

      
           
        </ul>
    </section>
</div>
<script src="~/js/catalog.js" asp-append-version="true"></script>
