@model IEnumerable<ShainingOpt.Models.Category>

@{
    ViewData["Title"] = "Категории";
    Layout = "_AdminLayout";
}

<h1>Категории</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
