@model IEnumerable<ShainingOpt.Models.Brand>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Бренды";
}

<h1>Бренды</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.BrandId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.BrandId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
